<main>
    <div>
        <h2> Registro de adminstración de usuarios</h2>

        {{#each users}}


        <h2>{{this.first_name}}</h2>
        <p>{{this.last_name}}</p>
        <p>{{this.email}}</p>

        {{/each}}




    </div>


</main>