<h1> MESSAGES </h1>

<!-- formulario -->

<div>

    <form  id="crear-formulario">
          <input type="text" name="user" placeholder="Email" />
            <input type="text" name="message" placeholder="Message" />
            <input type="number" name="price" placeholder="Precio" />
            <input type="text" name="code" placeholder="Ingrese el código del prod" />
            <input type="submit" value="Enviar!" />
    </form>
</div>