<!--<h1> Chatea con nosotros </h1>



    <form  id="crear-formulario" method="post">
        <input type="text" name="User" placeholder="Email" />
          <input type="text" name="Message" placeholder="Deje un mensaje" />
            <input type="submit" value="ENVIAR!" /> 
    </form>-->