<h1> Crear productos </h1>



    <form  id="crear-formulario" method="post">
        <input type="text" name="User" placeholder="Email" />
          <input type="text" name="Message" placeholder="Deje un mensaje" />
           <!-- <input type="text" name="description" placeholder="Descripción" />
            <input type="number" name="price" placeholder="Precio" /> -->
            <input type="submit" value="ENVIAR!" /> 
    </form>


<!-- <div class="cards-products">

     <picture><img src="{{product.thumbnail}}"/></picture>
     <h2>{{product.title}}</h2>
     <p>{{product.description}}</p>
     <p>{{product.price}}</p>
 
   

    </div> -->