<h1> Crear productos </h1>



    <form  id="crear-formulario">
        <input type="text" name="thumbnail" placeholder="Imagen" />
          <input type="text" name="title" placeholder="Título" />
            <input type="text" name="description" placeholder="Descripción" />
            <input type="number" name="price" placeholder="Precio" />
            <input type="submit" value="Crear!" />
    </form>


<!-- <div class="cards-products">

     <picture><img src="{{product.thumbnail}}"/></picture>
     <h2>{{product.title}}</h2>
     <p>{{product.description}}</p>
     <p>{{product.price}}</p>
 
   

    </div> -->