

<h1 class="title"> PRODUCTOS </h1>

<div class="cards-products"> 

  <!--  <tr>

        <th>name</th>
        <th>Descripcion</th>
        <th>Price</th>
        <th>Thumbnails</th>
        <th>Categoria</th>

   </tr> -->

   {{#if products.length}}
    {{#each products}}

    <tr >

     <td><img{{this.thumbnail}}/></td>
     <td>{{this.title}}</td>
     <td>{{this.description}}</td>
     <td>{{this.price}}</td>
 
   

</tr>

{{/each}}
{{/if}}

</div>

<style>

    .title {

        text-align: center;
        color: blueviolet;
    }

    .cards-products{

       /* border: solid red; */

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        box-shadow: 0 0 5px cadetblue;
        text-align: center;
    }


</style>

