<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/{{style.css}}">
    </link>
    <title> Inicio || Delfos </title>

</head>

<body>
    <!--<script src="/socket.io/socket.io.js"></script> -->


    <header>

        <!--<h1>Poner LOGO</h1>-->

        <a href="/product">Budines</a>
        |
        <a href="/products"></a>

        <a href="/session/login"></a>

        <a href="/session/register">Registrarse</a>
        |

        <a href="/chat">Contactanos</a>
        |
        <a href="/cart/63d525c6279466c8fffbfc40">Ver carrito</a>
        |


    </header>
    {{{body}}}


</body>



</html>